#topheader{

    border-bottom: 1px solid #ebebeb;
    font-size: small;

}
#topheader a{
    color:#2c3e50;
    font-weight:600;
    font-size:0.89rem;
    font-style: normal;
}
.container-fluid{
   padding-left:0;
   padding-right:0;
   border-block-end:silver;
}
#font{
    font-size:2.0rem;
    color:#ffffff;
    font-family:"Roboto";
   
}
.my-2 {
    padding-left:45rem;
    color: white;
   
}

.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}
/* .nav-item{
    padding-left:rem;
} */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:Roboto;
    font-size: 03rem;
    color:#ecf0f1;
    border-color:#2c3e50;
    
}
.container .btn-1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:#343a40;
    color: white;
    font-size: 16px;
    padding: 13px 45px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
  }
  .container .btn-1:hover {
    background-color:#222f3e;
  }

nav ul li a{
    font-size:1.1em;
    font-weight:600;
    outline-color:#ffffff;
}
/* Start:Footer*/
.full-footer{
    background-color:#0062cc;
   
    width:100%;

    }
.top-footer h3{
    font-size: 20px;
    color:antiquewhite;
  
}
.style{
    color:antiquewhite;
    padding: 5px;
    margin:5px;
}
.btn-1{
    padding-top: 50rem;
}

.bottom-footer{
    background-color:#343a40;
}
.bottom-footer p{
    color: antiquewhite; 
}
/* -----------------------------------------HOME PAGE-------------- */
/* first section */
.top-hero-section{

color: #2d3436;
border: 2px solid #ffffff;
}

/* second section */
.qualities-img{
    width:150px;
}
/* third section */
.requirements-section{
  background-color: #0062cc;
  color:white;
 
  
}
/* fifth section */
.newsletter{
    background-color: #0062cc;
    color:white;

}
.newsletter .form-control{
    height:50px;
    border-color:transparent;
    border-radius: 20px 0 0 20px;
}
.newsletter .btn{
  min-height: 50px;
  border-radius: 0 20px 20px 0;
  background:#2d3436;
  color:white;  
}
/* -----------------------------------------HOME PAGE-------------- */
/* -----------------------------------------ABOUT US-------------- */
/* first-section */
.breadcrumbs-section{
    background-color: #e9ecef;
}
/*--------------------------------------ABOUT US-------------------*/
/*--------------------------------------PROFOLIO------------------*/
.requirements{
    background-color:#e9ecef;
    color: #0c0808;
    
}
/*---------------------------------SERVICES-----------------------*/
.bar{
    color:white;
    font-weight:600;
    font-size:1.1rem;
    border-radius:17px;
    border: 1px solid #343a40;

}